/* datos.component.scss */
ion-content {
    --background: linear-gradient(to bottom, var(--ion-background-color), #ffff);
    --ion-background-color:  #4697B4;
    background-color: #5c5a5a;
    width: 100%;
    vertical-align: middle;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cont
  {
    display: flex;
    justify-content: center;
  }
  .logo{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    background: #4697B4;
    background: transparent;
  }
  
  img{
    border-radius: 100%;
    width: 70%;
  }
  .textos{
    justify-content: flex-start;
    text-align: left;
    color: #F1E6D2;
  }
  #titulo{
    font-size: 40px;
    margin-bottom: 10px;
    color: #ebc278;
  }
  #subtitulo{
    font-size: 25px;
    color: #F1E6D2;
  }
  
  .form-container {
    margin: 0px;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-top: 10%;
    overflow: hidden;
  }
  
  
  form {
    background: linear-gradient(to bottom,var(--ion-background-color),  #A7D0D2);
    border-radius: 15px;
  
    padding: 25px;
    ion-list {
      background: linear-gradient(to bottom,var(--ion-background-color),  #A7D0D2);
      font-size: 30px;
      border-radius: 10px;
      overflow: hidden;
      
  
      ion-item {
        border: 3px solid #ffffff;
        margin-bottom: 15px;
        margin-top: 20px ;
        border-radius: 15px;
        height: 70px;
        --background: var(--ion-background-color);
  
        ion-select,
        ion-input {
          color: #ffffff;
          --border-color: #ccc;
          height: 60px;
        }
      }
    }
  }
  ion-input{
    font-size: 30px;
  }
    
    
  .botones{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .but{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    flex-shrink: 0;
    width: 45%;
    height: 60px;
    position: relative;
  }
    
  
  
  .nacimientoText{
    color: #F1E6D2;
    margin-bottom: 15px;
    
  }
  
  .color{
    color: black;
  }
  
  .checkbox-group {
    margin-bottom: 10px;
  }
  
  .datos-list-item {
    color: black; /* Cambia esto al color de texto que desees */
  }
  
  @media (max-width: 512px) {
    .form-container {
      width: 100%;
    }
  }
  
  .gene{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }